@font-face {
    font-family:TimesTenBold;
    src: url('Fonts/TimesTenBold.ttf');
}
@font-face {
    font-family:TimesTen ;
    src: url('Fonts/TimesTen.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TimesTen'; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.card{
    position: relative;
    display: flex;
    width: 420px;
    height: 600px;
    background-color:#e0d4ec;
    border: 2px solid black;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}


.card .form{
    width: 100%;
    padding: 65px;
    text-align: center;
}
.card .form h2{
    position: relative;
    top: -85px;
    color: #162045;
}
.card .form h3{
    position: relative;
    top: -75px;
    color: rgba(90,85,147,0.5)
}

.inputs{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom:2px solid black ;
    margin: 15px 0;  
}

.inputs label{
    position: absolute;
    top: -10px ; 
    font-size: 1em;
    color: #232244;
    font-weight: 500;  
}

.inputs input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: medium;
}
.rodape1{
    display: flex;
    justify-content: space-between;
    color: #232244;
    font-weight: 500;
    margin: 70px 0 15px;
    text-decoration: none;
}
.rodape1 a{
    color:#232244;
    text-decoration: none;
}
.rodape1 a:hover{
    text-decoration: underline;
}

.es1{
    margin-right: px;
}

.btt{
   width: 100%;
   height: 45px;
   background: #5a5384;
   outline: none;
   border: none;
   border-radius: 20px;
   font-size: 1em;
   color: white;
}
.rodape2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 px  
}

.rodape2 a{
    color: #232244;
    text-decoration: none;
}

.rodape2 a:hover{
    text-decoration: underline;
}
.rodape2 p{
    margin-left: 40px;
    margin-top: 15px;
}
